<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        Servicios 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-login [contador]="contador" (sumarEnAppComponent)="sumarEnAppComponent($event)"></app-login>
    </div>
    <div class="col-6">
      <app-register [contador]="contador"></app-register>
    </div>
  </div>
  <div class="row">
    <div class="col-12">


      <div class="card mb-2">    
        <div class="card-body">
            <h5 class="card-title">
                AppComponent
            </h5>
            <p class="card-text">
              Servicio Asociado: {{contService.getNombre()}} : {{contService.getCount()}}
            </p>
            <a href="#" class="btn btn-primary" (click)="sumar()">
                Incrementar
            </a>
        </div>
    </div>
</div>