<h2>Validación Reactive Form</h2>
<div class="row">
  <div class="col-6">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <h4>Registro</h4>
      <br />
      <div class="form-group">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" name="nombre">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido" name="apellido">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" placeholder="email" name="email">
      </div>
      <div *ngIf="!registroForm.invalid">
        <div class="align-center">
          <button class="btn btn-default" type="submit" id="registrar">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<pre>{{registroForm.value | json}}</pre>
<p>Formulario valido : {{registroForm.valid}}</p>
