<form [formGroup] = "registroform" (ngSubmit)="onSubmit()">
        <h4>Formularios Reactivos</h4>
        <br />
        <div class="form-group">
          <input type="text" formControlName="nombre" >
        </div>
        <div class="form-group">
          <input type="text" formControlName="director">
        </div>
        <div class="form-group">
         <select formControlName="genero">
            <option *ngFor="let item of generos">{{item}}</option>            
         </select>
        </div>
        <input type="submit" [disabled]="!registroform.valid">
</form>
<!-- <p>form: {{registroform.valid}}</p> -->
